
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;

    }

    header {
        padding: 10px 40px;
        background: #E8E4D7;
        align-items: center;
    }
    header h1 {
    grid-column: span 6;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -.03rem;
    }
    header nav{
        grid-column: span 6;
        justify-self: end;
    }
    header nav a{
       color: #333;
       margin-left: 40px;
       text-decoration: none;
    }
    

    nav a:hover{
        color:#EE4824;
        }
        
        nav a:active {
        color: #212429;
         }

         
    body{
        margin:0;
        font-family: inter;
        color: #212429
    }
    
    main {
        background: #E8E4D7;
        padding: 0px 150px 100px
        
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        row-gap: 10px;
      }
    
      .intro{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
     
    }
    
    .smallcircle{
        position:absolute;
        z-index: auto;
        left: 60px;
        padding-top: 60px;
    
    
    }
    
    .item4 p{
        font-weight:400;
        color:rgb(37, 37, 37);
        font-size: 14px;
        line-height: 1.4rem;
    }


    .item3 h1{
        font-weight: 400;
        color:#333;
        line-height: 1.5;
      
    }



    .aboutme{
        font-size: 30px;
        font-weight:500;
        letter-spacing: -.05rem;
        word-spacing: .1em;
        color:#EE4824;
        z-index: 2;
        padding-top: 120px;
    
        }

      
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1300px;
        align-items: top;
        padding-bottom: 120px;
    }
    

    .item1 h2{
        font-weight: 500;
        letter-spacing: -.03rem;
        padding-bottom: 30px;  
    }


    .item2 p{
        font-weight: 400;
        padding-left: 40px;
        color:#333;
        line-height: 1.5;
    }
    

    

.footer{
background-color: #F1EFED;
padding: 60px 150px;
font-size: 20px;
line-height: 2.2rem;
}

footer p{
font-size: 12px;
}

footer a:hover{
    color:#EE4824;
    }
    
footer a:active {
    color:#EE4824;
    
 }